/*
Theme Name: Big Tex Marketing
Theme URI: http://www.bigtexmarketing.com
Version: 1.0
Description: This theme was created by hand with the love and care of the Big Tex Trailer Marketing Team. It uses Twitter's Bootstrap version 3.2.0, Fontawesome's icons, and Google's web fonts. It is intended to be viewed in modern browsers (>=IE9). We have made this an ultra-awesome, ultra-amazing, ultra-stupendous marketing tool with tight graphics, cutting-edge coding, and breathtaking SEO. It is a marketing bazooka. BOOM!!!
Author: Big Tex Trailers Marketing Team
Author URI: http://bigtextrailers.com/
*/
/* TABLE OF CONTENTS
****************************************
	*GLOBAL STYLES
	*THEME STYLES
	*PHONES (MEDIA QUERY)
	*TABLETS (MEDIA QUERY)
	*SMALL DESKTOPS (MEDIA QUERY)
	*LARGE DESKTOPS (MEDIA QUERY)
	*PRINT (MEDIA QUERY)
****************************************
*/
/*------------------------------GLOBAL STYLES------------------------------*/
@font-face{
	font-family:'Circular Std Book';
	src:url('fonts/CircularStd-Book.eot');
	src:url('/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularStd-Book.woff') format('woff'),
		url('fonts/CircularStd-Book.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Circular Std';
	src:url('fonts/CircularStd-Bold.eot');
	src:url('fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularStd-Bold.woff') format('woff'),
		url('fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight:700;
	font-style:normal;
}
iframe{border:none;}
.uppercase{text-transform:uppercase;}
.rightuppercase{
	text-align:right;
	text-transform:uppercase;
}
.leftuppercase{
	text-align:left;
	text-transform:uppercase;
}
.centeruppercase{
	text-align:center;
	text-transform:uppercase;
}
.aligncenter,
div.aligncenter{
	display:block;
	margin:5px auto;
}
.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter{
	display:block;
	margin:5px auto;
}
a img.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto
}
#slider.carousel .item{
	-webkit-transition:opacity 4s; 
	-moz-transition:opacity 4s; 
	-ms-transition:opacity 4s; 
	-o-transition:opacity 4s; 
	transition:opacity 4s;
}
#slider.carousel .active.left{
	left:0;
	opacity:0;
	z-index:2;
}
#slider.carousel .next{
	left:0;
	opacity:1;
	z-index:1;
}
.imgReplace{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	white-space:nowrap;
}
input:focus:invalid, 
textarea:focus:invalid, 
select:focus:invalid{
	border-color:#EE5F5B;
	color:#B94A48;
}
input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus{
	border-color:#E9322D;
	box-shadow:0 0 6px #F8B9B7;
}
form br{display:none;}
.required{
	color:#F00;
	font-weight:700;
}
.go-top{
	background-color:rgba(0, 0, 0, 0.3);
	bottom:2em;
	color:white;
	display:none;
	font-size:12px;
	padding:1em;
	position:fixed;
	right:2em;
	text-decoration:none;	
}
.go-top:hover{background-color:rgba(0, 0, 0, 0.6);}
.btn.bt{white-space:normal;}
.btn.btn-success-ghost{
	background-color:transparent;
	border:1px solid #FFF;
	color:#FFF;
}
.btn.btn-success-ghost:hover,
.btn.btn-success-ghost:focus,
.btn.btn-success-ghost:active,
.btn.btn-success-ghost.active{
/*	background-color:#4BC04E;*/
	border:1px solid #4BC04E;
	color:#FFF;
}
.btn.btn-primary-ghost{
	background-color:transparent;
	border:1px solid #017EFF;
	color:#017EFF;
}
.btn.btn-primary-ghost:hover,
.btn.btn-primary-ghost:focus,
.btn.btn-primary-ghost:active,
.btn.btn-primary-ghost.active{
	background-color:#017EFF;
	border:1px solid #017EFF;
	color:#FFF;
}
/*------------------------------THEME STYLES-------------------------------*/
.shadow{box-shadow:0 0 68.88px 15.12px rgba(0, 0, 0, 0.73);}
aside{margin:10px 0;}
aside section{margin-bottom:20px;}
aside section:last-child{margin:0;}
aside section:first-child{margin-top:20px;}
.page h3.widgettitle,
.error404 h3.widgettitle{
	background:#333;
	color:#FFF;
	margin-bottom:0;
	padding:10px;
	text-align:center;
	text-transform:uppercase;
}
.widget_nav_menu{
	background-color:#FFF;
	padding:0;
}
.menu-sidebar-container{
	border-color:#333;
	border-style:solid;
	border-width:0 1px;
}
.widget_nav_menu ul{
	list-style:none;
	margin-bottom:0;
	padding:0;
}
.widget_nav_menu a{
	background:url(images/submenuArrow.png) no-repeat 25px 13px;
	border-bottom:1px solid #333;
	color:#333;
	display:block;
	font-size:16px;
	padding:8px 0 8px 45px;
	text-transform:uppercase;
}
.widget_nav_menu a:hover,
.widget_nav_menu a:focus{
	background-color:#333;
	color:#FFF;
	text-decoration:none;
}
.page .jumbotron{
	color:#FFF;
	height:700px;
	padding-top:250px;
}
.page .jumbotron h1{font-size:52px;}
.page .jumbotron p{font-size:18px;}
.page .jumbotron .btn.btn-link{
	color:#FFF;
	cursor:default;
}
.page .jumbotron .btn.btn-link:hover{
	color:#FFF;
	cursor:default;
	text-decoration:none;
}
.home .jumbotron{
	background:url(images/home.jpg) no-repeat center center fixed;
	background-size:cover;
}
.service{margin:35px 0;}
.service h3 a,
.service h3 a:hover,
.service h3 a:focus{color:#151515;}
.excerpt-more{
	display:block;
	font-family:"Circular Std",Helvetica,Arial,sans-serif;
	margin-top:25px;
	text-transform:uppercase;
}
.casestudies .excerpt-more{
	border-top:1px solid #F0F5F9;
	padding:10px 30px;
}
.navbar-default.bt{
	background-color:rgba(255,255,255,0.92);
	margin-bottom:0;
	transition:background-color 0.3s ease-in 0s;
}
.navbar-default.bt.transparent{
	background-color:transparent;
	box-shadow:none;
}
.navbar-default.bt .navbar-brand{
	height:70px;
	padding:10px 15px;
}
.navbar-default.bt.transparent .navbar-nav > li > a{color:#FFF;}
.navbar-default.bt .navbar-nav > li > a{
	color:#151515;
	padding:10px 25px;
	text-transform:uppercase;
}
.navbar-default.bt .navbar-nav > li > a:hover,
.navbar-default.bt .navbar-nav > li > a:focus,
.navbar-default.bt .navbar-nav > .active > a, 
.navbar-default.bt .navbar-nav > .open > a,
.navbar-default.bt .navbar-nav > #menu-item-15 > a{
	background-color:#017eff;
	background-image:none;
	color:#FFF;
}
.navbar-default.bt.transparent .navbar-nav > li > a:hover,
.navbar-default.bt.transparent .navbar-nav > li > a:focus,
.navbar-default.bt.transparent .navbar-nav > .active > a, 
.navbar-default.bt.transparent .navbar-nav > .open > a,
.navbar-default.bt.transparent .navbar-nav > #menu-item-15 > a{
	background-color:rgba(255, 255, 255, .2);
	background-image:none;
}
.bt .navbar-toggle{margin-top:20px;}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{}
.navbar-default.bt.sticky .logo-light{display:none;}
.navbar-default.bt.transparent .logo-dark{display:none;}
.nav.navbar-nav.bt{margin:15px 0;}
.content{
	background:#FFF;
	padding:10px;
}
article h1.text-center:after{
	background-color:#AEB1B5;
	content:" ";
	display:block;
	height:1px;
	margin:5px auto 0;
	width:25px;
}
.casestudies,
.newsletter{
	background-color:#F0F5F9;
	padding:100px 0;
}
#cases .carousel-caption{
	background-color:#FFF;
	box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.2);
	font-family:"Circular Std",Helvetica,Arial,sans-serif;
	left:0;
	padding:0;
	position:relative;
	right:0;
	text-align:left;
	text-shadow:none;
}
#cases .carousel-caption .case-title{
	color:#4BC04E;
	padding:30px 30px 0 30px;
	text-transform:uppercase;
}
#cases .carousel-caption .case-summary{
	color:#151515;
	font-size:18px;
	line-height:1.5;
	padding:5px 30px 0;
}
.study img,
.contact-content{box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.2);}
.casestudies h2{margin-top:130px;}
.leftunderline:after{
	background:url(images/line.jpg) no-repeat;
	content:" ";
	display:block;
	height:1px;
	margin:5px 0 0;
	width:25px;
}
.casestudies .carousel-indicators{
	left:0;
	margin-left:0;
	position:relative;
	text-align:left;
	top:20px;
}
.casestudies .carousel-indicators li{
	background-color:#C8D3DA;
	border:none;
	height:13px;
	width:13px;
}
.casestudies .carousel-indicators .active{
	background-color:#4BC04E;
	border:none;
	height:15px;
	width:15px;
}
.contact-info .alignleft{margin:5px 10px 5px 0;}
.contact-info .col-sm-3 p{margin-top:15px;}
.home-contact{border-left:1px solid #b8c5d0;}
.contact-info{padding:90px 0 50px;}
.in-touch p{padding-bottom:60px;}
.embed-responsive-4by3.bt{padding-bottom:85%;}
.addy p,
.panel p{margin:0;}
footer{
	background-color:#FFF;
	border-top:1px solid #dee7ee;
	margin-top:50px;
	padding:50px 0;
}
footer a{
	color:#89969f;
	font-size:13px;
	text-transform:uppercase;
}
footer a:hover,
footer a:focus{color:#151515;}
footer nav a:hover,
footer nav a:focus{text-decoration:none;}
/*------------------------------FORMSTACK----------------------------------*/
.fsBody .fsForm .fsPage .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsForm{background-color:transparent;}
.fsboxshadow .fsBody.fsEmbed .fsForm{box-shadow:none;}
.fsBody.fsEmbed{
	color:inherit;
	font:inherit;
}
.fsborderradius .fsBody.fsEmbed .fsSectionHeader{margin:0;}
.fsBody.fsEmbed .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsSubField{
	margin-right:2%;
	width:49%;
}
.fsBody.fsEmbed .fsSubField:nth-child(2){margin-right:0;}
.fsBody.fsEmbed .fsForm .fsSubmit{background-color:transparent;}
.fsBody.fsEmbed .fsSubmit input.fsSubmitButton{padding:10px 16px;}
.fsBody.fsEmbed .fsFieldRow input[type="email"], 
.fsBody.fsEmbed .fsFieldRow input[type="number"], 
.fsBody.fsEmbed .fsFieldRow input[type="tel"], 
.fsBody.fsEmbed .fsFieldRow input[type="text"], 
.fsBody.fsEmbed .fsForm textarea,
.fsBody.fsEmbed .fsForm select{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	color:#555;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	max-width:100%; 
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	vertical-align:middle; 
	width:100%;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);  
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fsBody.fsEmbed .fsForm .fsRowBody{border:1px solid rgba(0,0,0,0.00);}
.fsBody.fsEmbed .fsForm .fsFieldFocused{border:1px dotted #676767;}
.fsBody.fsEmbed .fsForm #fsPage2273949-1 .fsFieldFocused{border:1px dotted #f00;}
.fsBody.fsEmbed .fsForm .fsSectionHeading,
.fsBody.fsEmbed .fsForm .fsSectionText{font-family:inherit;}
.fsBody.fsEmbed textarea.fsField{height:auto;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel,
.fsBody.fsEmbed .fsLabel,
.fsBody.fsEmbed .fsForm .fsLabel, 
.fsBody.fsEmbed .fsForm .fsOptionLabel, 
.fsBody.fsEmbed .fsForm .fsMatrix th, 
.fsBody.fsEmbed .fsForm .fsMatrixLabel{
	color:#000;
	font-family:inherit;
}
.fsBody.fsEmbed .fsSupporting.fsRequiredLabel,
.fsBody.fsEmbed .fsForm .fsSupporting{color:#000;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel .fsRequiredMarker{
	color:#f00;
	float:right;
}
.fsForm{background-color:#fff;}
.fsSubmit{padding:0 0 10px 0;}
.fsSectionText h2{
	font-size:30px;
	letter-spacing:-1px;
}
.fsSectionText h3 .fa{
	margin-left:5px;
	padding:5px;
}
.fsCell{margin: -10px 0px;}

#fsPage2388484-1 input.fsField[type="text"],
#fsPage2388484-1 input.fsField[type="file"], 
#fsPage2388484-1 input.fsField[type="number"], 
#fsPage2388484-1 input.fsField[type="email"], 
#fsPage2388484-1 input.fsField[type="tel"], 
#fsPage2388484-1 textarea.fsField{
	border-radius:0;
	border-bottom:1px solid #b8c5d0;
	border-left:none;
	border-right:none;
	border-top:none;
	box-shadow:none;
}
#fsPage2388484-1 .fsLabel.fsRequiredLabel, 
#fsPage2388484-1 .fsLabel, 
#fsPage2388484-1 .fsForm .fsLabel, 
#fsPage2388484-1 .fsForm .fsOptionLabel, 
#fsPage2388484-1 .fsForm .fsMatrix th, 
#fsPage2388484-1 .fsForm .fsMatrixLabel,
#fsPage2388484-1 .fsSupporting{
	color:#89969f;
	text-transform:uppercase;
}
#fsForm2388484 input.fsRequired[type="text"], 
#fsForm2388484 input.fsRequired[type="file"], 
#fsForm2388484 input.fsRequired[type="number"], 
#fsForm2388484 input.fsRequired[type="email"], 
#fsForm2388484 input.fsRequired[type="tel"], 
#fsForm2388484 textarea.fsRequired,
#fsForm2388484 select.fsRequired{background-color:transparent;}
#fsSubmit2388484{
	margin:0;
	padding:10px 20px 0 20px;
}
#fsForm2389144 .fsFieldRow input[type="email"], 
#fsForm2389144 .fsFieldRow input[type="number"], 
#fsForm2389144 .fsFieldRow input[type="tel"], 
#fsForm2389144 .fsFieldRow input[type="text"], 
#fsForm2389144 .fsForm textarea, 
#fsForm2389144 .fsForm select{
	background-color:#FCFCFC;
	border:none;
	border-radius:0;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
/*------------------------------PHONES-------------------------------------*/
@media(max-width:767px){
	.caption a{font-size:22px;}
	footer nav a{font-size:24px;}
	.logo-light{display:none;}
	.navbar-default.bt.transparent .logo-dark{display:block;}
	.navbar-default.bt.transparent{background-color:rgba(255, 255, 255, 0.92);}
	.navbar-default.bt.transparent .navbar-nav > li > a{color:#151515;}
	.navbar-default.bt.transparent .navbar-nav > li > a:hover, 
	.navbar-default.bt.transparent .navbar-nav > li > a:focus, 
	.navbar-default.bt.transparent .navbar-nav > .active > a, 
	.navbar-default.bt.transparent .navbar-nav > .open > a, 
	.navbar-default.bt.transparent .navbar-nav > #menu-item-15 > a{
		background-color:#017eff;
		color:#FFF;
	}
	.page .jumbotron{
		height:auto;
		padding-top:70px;
	}
	.casestudies,
	.contact-info,
	.newsletter{padding:25px 0;}
	.casestudies h2{margin-top:25px;}
	.casestudies .carousel-indicators{padding-bottom:20px;}
	.contact-info .alignleft{margin:5px 10px 25px 0;}
	/*#bt-collapse{height:400px;}
	.navbar-default.bt .navbar-nav > li > a{padding:15px 25px;}
	.navbar-default.bt.transparent .navbar-nav > li > a{color:#1A1A1A;}
	.navbar-toggle {
			height: 40px; 
			width: 40px;
			position: absolute;
			top: 11px; 
			left: 0;
			cursor: pointer;		
		}
			div.x,
			div.y,
			div.z {
				position: absolute; margin: auto;
				top: 0px; bottom: 0px;		
				background: #fff;
				border-radius:2px;
				-webkit-transition: all 200ms ease-out;
					 -moz-transition: all 200ms ease-out;
						-ms-transition: all 200ms ease-out;
						 -o-transition: all 200ms ease-out;
								transition: all 200ms ease-out;
			}		
			div.x, div.y, div.z { 
				height: 3px;
				left:5px;
				width: 26px; 
			}
			div.x{top:-15px;}
			div.y{top: 0;}
			div.z{top: 15px;}
			div.collapser{
				top: 0;
				background:#4a89dc;
				-webkit-transition: all 70ms ease-out;
					 -moz-transition: all 70ms ease-out;
						-ms-transition: all 70ms ease-out;
						 -o-transition: all 70ms ease-out;
								transition: all 70ms ease-out;
			}
			 
			
			div.rotate30{
				-ms-transform: rotate(30deg); 
					-webkit-transform: rotate(30deg); 
					transform: rotate(30deg);	
				-webkit-transition: all 50ms ease-out;
					 -moz-transition: all 50ms ease-out;
						-ms-transition: all 50ms ease-out;
						 -o-transition: all 50ms ease-out;
								transition: all 50ms ease-out;					
			}
			div.rotate150{
				-ms-transform: rotate(150deg); 
					-webkit-transform: rotate(150deg); 
					transform: rotate(150deg);	
				-webkit-transition: all 50ms ease-out;
					 -moz-transition: all 50ms ease-out;
						-ms-transition: all 50ms ease-out;
						 -o-transition: all 50ms ease-out;
								transition: all 50ms ease-out;					
			}
			
			div.rotate45{
				-ms-transform: rotate(45deg); 
					-webkit-transform: rotate(45deg); 
					transform: rotate(45deg);	
				-webkit-transition: all 100ms ease-out;
					 -moz-transition: all 100ms ease-out;
						-ms-transition: all 100ms ease-out;
						 -o-transition: all 100ms ease-out;
								transition: all 100ms ease-out;					
			}
			div.rotate135{
				-ms-transform: rotate(135deg); 
					-webkit-transform: rotate(135deg); 
					transform: rotate(135deg);	
				-webkit-transition: all 100ms ease-out;
					 -moz-transition: all 100ms ease-out;
						-ms-transition: all 100ms ease-out;
						 -o-transition: all 100ms ease-out;
								transition: all 100ms ease-out;					
			}*/
		
		/*div.navbar{height:73px;background:#385e97;}*/
		
		/*div.circle{	
			border-radius: 50%;
			width: 0px;
			height: 0px; 
			position:absolute;
			top: 35px;
			left: 36px;
			background:#fff;
			opacity:1;
			-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				 -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					-ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					 -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
							transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
		}
		div.circle.expand{
			width:1200px;
			height:1200px;
			top: -560px;
			left: -565px; 	
			-webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				 -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					-ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					 -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
							transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);					
			
		}
		nav.navbar-default ul li{
			list-style: none;
			position:absolute;
			top:50px;;
			left:0;
			opacity:0;
			width:320px;
			text-align:center;
			font-size:0px;
			-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				 -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					-ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					 -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
							transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		}
		nav.navbar-default ul li a {
			color:#4a89dc;
			text-transform:uppercase;
			text-decoration:none;	
			letter-spacing:3px;			
		}
		
		nav.navbar-default li.animate{
			font-size:21px;
			opacity:1;
			-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				 -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					-ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
					 -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
							transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		}
		nav.navbar-default li.animate:nth-of-type(1){	
			top:120px;
			transition-delay: 0.0s;	
		}
		nav.navbar-default li.animate:nth-of-type(2){
			top:190px;
			transition-delay: 0.03s;	
					
		}
		nav.navbar-default li.animate:nth-of-type(3){
			top:260px;
			transition-delay: 0.06s;		
			
		}
		nav.navbar-default li.animate:nth-of-type(4){
			top:330px;
			transition-delay: 0.09s;		
			
		}
		nav.navbar-default li.animate:nth-of-type(5){
			top:400px;
			transition-delay: 0.12s;		
			
		}
		nav.navbar-default li.animate:nth-of-type(6){
			top:470px;
			transition-delay: 0.15s;	
					
		}*/
}
/*------------------------------TABLETS------------------------------------*/
@media(min-width:768px) and (max-width:991px){
}
/*------------------------------SMALL DESKTOPS-----------------------------*/
@media(min-width:992px){
}
/*------------------------------LARGE DESKTOPS-----------------------------*/
@media(min-width:1200px){
		.hidden-md{display:none;}
}
/*------------------------------PRINT--------------------------------------*/
@media print{
	nav,
	footer,
	video,
	audio,
	object,
	embed,
	aside,
	.carousel,
	#myModal,
	.nav,
	img{display:none;}
	@page{margin:0.8cm;}
	body{
		background:#FFF;
		color:#000;
		font:12pt "Georgia", Times New Roman, Times, serif;
		line-height: 1.3;
	}
	*{
		background:transparent!important;
		color:#000!important; /* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
		border:none!important;
		float:none!important;
		text-shadow:none!important;
		font-family:"Georgia", Times New Roman, Times, serif!important;
		height:auto!important;
		margin:0!important;
		padding:0!important;
		text-align:left!important;
		text-indent:0!important;
		width:auto!important;
	}
	.container{
		width:100%; 
		margin:0; 
		float:none;
	}
	h1, h2, h3, h4, h5, h6{font-family:"Georgia", Times New Roman, Times, serif;}
	header h1 a{font-size:30pt;}
	header:after{content:"www.bigtexmarketing.com";}
	header{height:auto;}
	h1{font-size:24pt;}
	h2{
		font-size:14pt;
		margin-top:25px;
	}
	aside h2{font-size:18pt;}
	a{
		color:#000;
		font-weight:bold;
	}
}